@charset "utf-8";

.container{
  width:1000px;
  border: 1px solid #fff;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(0, 255, 0, 0.15);
}

.container img{
  float:left;
  margin-right:10px;
  margin-bottom:20px;
}

h2{
  clear:both;
}
